* {
    background-color: #081117;
    color: white; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1,h2 { 
    border-bottom: 5px solid #ff4b50;
    padding-bottom: 5px;
    width: 60%; 
}


div.main aside.jett-info p {
    text-align: center;
    background-color: #ff4b50;
    padding: 5%;
    margin: 3% 0% 3%;
}

div.main aside.jett-info .jett-agent-name {
    margin: 0% 0% 4%;
}

.main {
    padding-left: 3%;
    padding-right: 8%;
    display: flex;
}

.content {
    display: block;
    float: left; 
}

.jett-info {
    border: solid 5px #ff4b50;
    display: block;
    width: min-content;
    height: min-content;
    margin-left: auto;
}

th {
    text-align: right;
    border-right-style: solid;
    border-right-color: #ff4b50;
    border-collapse: separate;
    padding: 5px;
}

td {
    padding: 5px;
    width: 60%;
}

#top {
    margin-left: 1%;
}

table {
    table-layout: fixed;
    width: 100%;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    column-gap: 3px;
    row-gap: 10px;
    justify-items: center;
    margin-top: 3%;
    margin-bottom: 3%;
}

div.grid-container div.grid-item img {
    height: 380px; 
}

figcaption {
    text-align: center;
    color: #ff4b50;
}

div.grid-container div.grid-item a {
    text-decoration: none;
}

div.grid-container div.grid-item figure {
    margin-inline-start: 0;
    margin-inline-end: 0;
    margin-block-end: 0;
    margin-block-start: 0;
}

.home-icon {
    display: inline; 
}

@media only screen and (max-width: 550px) {
    .grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(auto, 1fr);
        column-gap: 3px;
        row-gap: 10px;
        justify-items: center;
        margin-top: 3%;
        margin-bottom: 3%;
    }
}


